In [1]:
from sqlalchemy import create_engine 
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

### Useful commands to remember - 
    sudo service postgresql start
    createdb testpython
    dropdb testpython
    psql -U dan-laptop -l

## Create the database

In [2]:
#In Python: Define a database name (we're using a dataset on births, so I call it 
# birth_db), and your username for your computer (CHANGE IT BELOW). 
dbname = 'test_db'
username = 'dan-laptop'
password = 'ankiel66'

engine = create_engine('postgresql://%s:%s@localhost:5432/%s'%(username,password,dbname))

## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

## Now access sql db from python
# connect: 
con = None
connect_str = "dbname='%s' user='%s' host='localhost' password='%s'"%(dbname,username,password)
con = psycopg2.connect(connect_str)
cur = con.cursor() #create cursor for communicating with sql

True

In [3]:
# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")
cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",(100, "abc'def"))

In [4]:
cur.execute("SELECT * FROM test;")

In [5]:
cur.fetchone()

(1, 100, "abc'def")

In [7]:
con.commit()

In [8]:
import os

#os.remove('/tmp/'+file_name)
con.commit()

df = pd.DataFrame(columns=['num','data'])
df['num'] = pd.read_sql_query('SELECT num FROM test;',con)
df['data'] = pd.read_sql_query('SELECT data FROM test;',con)
df.head()

   num     data
0  100  abc'def

In [9]:
cur.close()
con.close()